<p>
<%= link_to 'Top', root_path %>
<%= link_to 'Tags', tag_root_path %>
<%= link_to 'NewPost', new_post_path %>
<%= link_to 'Post List', posts_path %>
<%= link_to 'LogOut', destroy_user_session_path %>
</p>
