<style type="text/css">
<!--
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
  -->
</style>

<%= form_for @search_form, url: tag_search_path, html: {method: :get} do |f| %>
  <%= f.search_field :q %>
  <%= f.submit "search" %>
<% end %>

<%- if @my_posts.present? %>
<p>
<div class="list-group">
<h2 class="list-group-item active">Your Latets Posts</h2>
<%- @my_posts.each_with_index do |post, i|%>
  <%- if i == 0 %>
  <%= link_to "#{post.title}", post, { :class => "list-group-item" }  %>
  <%- else %>
  <%= link_to "#{post.title}", post, { :class => "list-group-item" }  %>
  <%- end %>
<%- end%>
</div>
</p>
<%- end %>

<%- if @posts.present? %>
<p>
<div class="list-group">
<h2 class="list-group-item active">All Latets Posts</h2>
<%- @posts.each_with_index do |post, i|%>
  <%- if i == 0 %>
  <%= link_to "#{post.title}", post, { :class => "list-group-item" }  %>
  <%- else %>
  <%= link_to "#{post.title}", post, { :class => "list-group-item" }  %>
  <%- end %>
<%- end %>
</div>
</p>
<%- end %>


<%- if tag_count > 0 %>
  <p>
  <div class="panel panel-primary">
    <div class="panel-heading">
      Tag Cloud
    </div>
    <div class="panel-body">
      <%- tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, "/tags/#{tag.name[1..-1]}", :class => css_class %>
      <%- end %>
    </div>
  </div>
  </p>
<%- end %>
