<style type="text/css">
<!--
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
  -->
</style>

<%= form_for @search_form, url: posts_path, html: {method: :get} do |f| %>
  <%= f.search_field :q %>
  <%= f.submit "search" %>
<% end %>

<%- if @my_posts.present? %>
<p>
<h2>Your Latets Posts</h2>
<div class="list-group">
<%- @my_posts.each_with_index do |post, i|%>
  <%- if i == 0 %>
  <%= link_to "#{post.title}", post, { :class => "list-group-item active" }  %><br />
  <%- else %>
  <%= link_to "#{post.title}", post, { :class => "list-group-item" }  %><br />
  <%- end %>
<%- end%>
</div>
</p>
<%- end %>

<%- if @posts.present? %>
<p>
<h2>All Latets Posts</h2>
<div class="list-group">
<%- @posts.each_with_index do |post, i|%>
  <%- if i == 0 %>
  <%= link_to "#{post.title}", post, { :class => "list-group-item active" }  %><br />
  <%- else %>
  <%= link_to "#{post.title}", post, { :class => "list-group-item" }  %><br />
  <%- end %>
<%- end %>
</div>
</p>
<%- end %>


<%- if tag_count > 0 %>
  <p>
  <h2>Tag Cloud</h2>
  <%- tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, "/tags/#{tag.name[1..-1]}", :class => css_class %>
    <br />
  <%- end %>
  </p>
<%- end %>
