<p id="notice"><%= notice %></p>

<p>
<div class="row">
  <div class="col-md-12">
    <h2 class="text-info"><%= @post.title %></h2>
    <%= link_to 'Edit', edit_post_path(@post) %>
  </div>
</div>
</p>

<p>
<div class="row">
  <div class="col-md-6">
    <%- if @post.tag_list.present? %>
      <strong>Tags:</strong><br />
      <%- @post.tags.each do |tag| %>
        <%= link_to tag.name, "/tags/#{tag.name[1..-1]}" %>
      <%- end %>
    <%- end %>
  </div>
  <div class="col-md-6">
    <%- if @post.user_list.present? %>
      <strong>Users:</strong><br />
      <%= link_users @post %>
    <%- end %>
  </div>
</div>
</p>

<div class="jumbotron">
  <div class="container">
    <%= @post.content_html %>
  </div>
</div>
