<p id="notice"><%= notice %></p>


<div class="row list-group">
<h2 class="col-md-12 list-group-item active"><%= @post.title %></h2>
  <%- if @post.user_id == current_user.id  %>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <%- end %>
</div>

<div class="row list-group">
  <div class="col-md-6 list-group-item">
    <strong>Tags:</strong><br />
    <%- if @post.tag_list.present? %>
      <%- @post.tags.each do |tag| %>
        <%= link_to tag.name, "/tags/#{tag.name[1..-1]}" %>
      <%- end %>
    <%- end %>
  </div>
  <div class="col-md-6 list-group-item">
    <strong>Users:</strong><br />
    <%- if @post.user_list.present? %>
      <%= link_users @post %>
    <%- end %>
  </div>
</div>

<div class="row list-group">
  <div class="col-md-12 list-group-item">
    <%= @post.content_html %>
  </div>
</div>
